<template>
  <article-template :header="{ 'text':'Early Life', 'img':'https://therunnereclectic.files.wordpress.com/2014/07/louis_z.jpg' }">
    <p>
      &emsp;The “Unbroken” hero, Louis Zamperini had a very interesting childhood. On January 26, 1917, in Olean, New York, little Zamperini was born. Even though he was born in New York, Zamperini lived most of his life in Torrance, California.
    </p>
    <p>
        &emsp;When he was in his youth, he didn’t speak English due to his Italian parents, Anthony and Louise Zamperini. Zamperini grew up with three siblings (two sisters and one brother). His older brother’s name was Pete and his two sisters names were Sylvia and Virginia.
    </p>
    <p>
        &emsp;His father worked as a construction worker, coal miner, and a boxer. Because of his father being a boxer, he helped to teach Zamperini to fight against bullies by boxing. Zamperini’s mother Louise had been married at 16 and had given birth to Zamperini when she was 18.
    </p>
    <p>
        &emsp;Growing up, Louis Zamperini was quite the troublemaker. His parents were worried he’d be sent to jail due to him throwing tomatoes at a cop, popping his teacher’s car tires, and hopping trains in Mexico.
    </p>
    <video-js-player sourceType="video/mp4" source="videos/early-life.mp4"></video-js-player>
  </article-template>
</template>

<script>
import VideoJsPlayer from '@/components/VideoJsPlayer'
import ArticleTemplate from "@/components/ArticleTemplate";
import ImageWrap from "@/components/ImageWrap";
export default {
  name:'early-life',
  components:{
    ArticleTemplate,
    ImageWrap,
    VideoJsPlayer
  }
}
</script>
