<template>
  <article-template :header="{ 'text':'Running and 1936 Olympics', 'img':'https://img.haikudeck.com/mi/472f036ec03fa4f407d7c96ccf3a3fc5.jpeg' }">
    <p>
      &emsp;When Zamperini was in his teenage years, he was into running. While in high school, he became a part of the track team. During his time apart of the track team, his brother Pete in 1934 influenced Zamperini to set a high school track record that could not be beaten for 20 years. In an interview with Gary Cohen, he said, “So I was really running for my brother...without losing a race was all because of my brother.” His interest in running was so great that he even snuck into a colosseum to run. In 1934, Louis Zamperini won the California State Championships which led him to getting a scholarship at the University of Southern California. Louis Zamperini was such a great athlete that in 1936, he was a part of the Berlin Olympics.

      <image-wrap img="https://i2.wp.com/unwritten-record.blogs.archives.gov/wp-content/uploads/2014/12/242-hd-150a1.jpg" caption="Runners at 1936 Olympic stadium in Berlin" center></image-wrap>
      <image-wrap img="https://cdn.images.express.co.uk/img/dynamic/130/590x/secondary/zmperini-223538.jpg" caption="Zamperini at 1936 Olympics" center></image-wrap>
    </p>
    <video-js-player sourceType="video/mp4" source="videos/running-and-1936-olympics.mp4"></video-js-player>
    <video-js-player sourceType="video/mp4" source="videos/running-and-1936-olympics-documentary.mp4"></video-js-player>
  </article-template>
</template>

<script>
import VideoJsPlayer from '@/components/VideoJsPlayer'
import ArticleTemplate from "@/components/ArticleTemplate";
import ImageWrap from "@/components/ImageWrap";
export default {
  name:'running-and-1936-olympics',
  components:{
    ArticleTemplate,
    ImageWrap,
    VideoJsPlayer
  },
}
</script>
