<template>
  <article-template :header="{ 'text':'World War II', 'img':'https://resize.rbl.ms/simage/https%3A%2F%2Fassets.rbl.ms%2F17284127%2Forigin.jpg/1200%2C718/k%2B2Ykgq4lWRX8l6M/img.jpg' }">
    <p>
      <image-wrap img="https://i2.wp.com/unwritten-record.blogs.archives.gov/wp-content/uploads/2014/12/342-fh-3a42815.jpg" caption="Zamperini's plane before the “Green Hornet“"></image-wrap>
      &emsp;Louis Zamperini was supposed to be heading to his next Olympics in 1940. Unfortunately, it was canceled due to World War II. After that happened, Louis Zamperini decided to train to become a bombardier in Houston for the war. Later, Zamperini became an Army Air Corps bombardier in the 372nd bomb squadron.  His assignment, as a bombardier, was to have a runaway and bunkers destroyed. Later in the war, Zamperini and 10 others were assigned to find a missing bomber. During this trip, his plane, named the Green Hornet, crashed, leaving the 3 of the 11 men the only survivors. Those men were, Zamperini, and two others named Pilot Russel Phillips and tail gunner Francis McNamara. On their thirty-third day on the ocean, one of the three survivors, Francis Mcnamara, unfortunately passed away due to unknown causes
    </p>
    <video-js-player sourceType="video/mp4" source="videos/wwii.mp4"></video-js-player>
  </article-template>
</template>

<script>
import VideoJsPlayer from '@/components/VideoJsPlayer'
import ArticleTemplate from "@/components/ArticleTemplate";
import ImageWrap from "@/components/ImageWrap";
export default {
  name:'early-life',
  components:{
    ArticleTemplate,
    ImageWrap,
    VideoJsPlayer
  }
}
</script>
