<template>
  <div :id="$route.params.article" class="article">
    <!--<div id="article-header" :style="`background-image:url(${article.header.img})`">
      <img :src="article.header.img" style="visibility:hidden;width:100%"/>
      <div id="article-header-text">{{article.header.text}}</div>
    </div>-->
    <!-- <vue-markdown :source="html" id="article-text"></vue-markdown> -->
    <!--<div id="article-text" v-html="html"></div>-->
    <component :is="article"></component>
  </div>
</template>

<script>
import DOMPurify from "dompurify";
export default {
  name:'article-page',
  data:()=>({
    article:null
  }),
  async created(){
    this.article = this.getArticle();
  },
  computed:{
    // html(){
    //   if (this.article !== null){
    //     var res = this.article.html;
    //     var res = res.replace("[tab]","&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")
    //     return DOMPurify.sanitize(res);
    //   }else{
    //     return "## Loading..."
    //   }
    // }
  },
  watch:{
    async "$route.params.article"(){
      this.article = this.getArticle();
    }
  },
  methods:{
    getArticle(){
      return () => import(`@/articles/${this.$route.params.category}/${this.$route.params.article}.vue`)
    }
  }
}
</script>
