<template>
  <div id="home">
    <div id="home-header">
      <div id="home-header-text">
        Louis Zamperini
      </div>
      <div id="home-header-credit">
        By Giovanni and Peter
      </div>
    </div>
    <div id="home-thesis-wrapper">
      <div id="home-thesis">
        During World War II Louis Zamperini survived an incredible forty-seven days on a raft in the middle of the ocean with barely any supplies and then was captured by the Japanese and tortured. By having a very strong mindset and immense courage, Louis Zamperini triumphed over death and many other terrible experiences. His story showed many other people that a person can survive what seems impossible if he or she is mentally strong, and has an undefeatable will to live.
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'home',
  components: {

  }
}
</script>

<style lang="scss">
#home{
  #home-header{
    height:100vh;
    background:url("https://reasonabletheology.org/wp-content/uploads/Louis-Zamperini-After-WW2-1200x500.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    background-attachment: fixed;
    font-family:monospace;
    position:relative;
  }
  #home-header-text{
    margin:auto;
    max-width: 100%;
    text-transform: uppercase;
    color:white;
    mix-blend-mode: overlay;
    font-size: 7em;
    letter-spacing: calc(100vw / 50);
    text-align:center;
    @media (max-width:1646px){
      font-size: 5em;
    }
    @media (max-width:1253px){
      font-size: 4em;
    }
  }
  #home-thesis-wrapper{
    width:100%;
    display:grid;
    #home-thesis{
      font-size:30px;
      padding:20px;
      text-align:center;
      max-width:1200px;
      margin:auto;
    }
  }
  #home-header-credit {
    position: absolute;
    bottom: 15px;
    color: white;
    font-size: 20px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
  }
}
.scrolled-true {
  #home{
    #home-header-credit{
      opacity: 1;
      bottom:5px;
    }
  }
}
</style>
