<template>
  <article-template style="margin-top:64px">
  <div class="header-placeholder"></div>
    <h1>Works Cited</h1>
    <div class="works-cited-entries">
        <a class="works-cited-entry website" :href="website" v-for="website in entries.websites" :key="JSON.stringify(website)"><p>{{website}}</p></a>
        <p class="works-cited-entry book" v-for="book in entries.books" :key="JSON.stringify(book)">{{book}}</p>
    </div>
  </article-template>
</template>

<script>
import ArticleTemplate from "@/components/ArticleTemplate";
import ImageWrap from "@/components/ImageWrap";
export default {
  name:'works-cited',
  components:{
    ArticleTemplate,
    ImageWrap
  },
  data:()=>({
      entries:{
          websites:[
            "https://therunnereclectic.files.wordpress.com/2014/07/louis_z.jpg",
            "https://i.pinimg.com/originals/98/21/57/982157ee966fea25d64a26d83ad98cd1.jpg",
            "https://reasonabletheology.org/wp-content/uploads/Louis-Zamperini-After-WW2-1200x500.jpg",
            "https://i2.wp.com/wessels-filmkritik.com/wp-content/uploads/2015/01/2432_fpt3_00162r_crop.jpg?ssl=1",
            "https://resize.rbl.ms/simage/https%3A%2F%2Fassets.rbl.ms%2F17284127%2Forigin.jpg/1200%2C718/k%2B2Ykgq4lWRX8l6M/img.jpg",
            "https://i2.wp.com/unwritten-record.blogs.archives.gov/wp-content/uploads/2014/12/342-fh-3a42815.jpg",
            "https://i3.wp.com/www.b24bestweb.com/images/B24/GREENHORNET-V1.JPG",
            "https://reasonabletheology.org/wp-content/uploads/Mutsuhiro_Watanabe.jpg",
            "https://www.awesomestories.com/images/user/d465e2d7704fc5fbad02e0deaab15230.jpg",
            "https://s3-ap-southeast-2.amazonaws.com/awm-media/collection/126515/screen/4163574.JPG",
            "https://9044c4.medialib.edu.glogster.com/A2twx8FoIdkT2j7GWYM3/media/11/11c9f93b395541565e9d1574c6c529b00b58c6d4/map-all.jpg",
            "https://static.billygraham.org/sites/billygraham.org/uploads/pro/2014/12/29142855/zampfeature.jpg",
            "https://www.awesomestories.com/images/user/0cfba28ffa.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/91UmKFGfyYL.jpg",
            "https://cdn1.thr.com/sites/default/files/2014/07/unbroken_a.jpg",
            "https://img.haikudeck.com/mi/472f036ec03fa4f407d7c96ccf3a3fc5.jpeg",
            "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/louiezamperinijan500x310-1446384601.jpg",
            "https://i2.wp.com/unwritten-record.blogs.archives.gov/wp-content/uploads/2014/12/242-hd-150a1.jpg",
            "https://cdn.images.express.co.uk/img/dynamic/130/590x/secondary/zmperini-223538.jpg",
            "https://img.haikudeck.com/mi/BDFD23EC-4EC9-463F-8128-80FF08BE8732.jpg",
            "https://www.awesomestories.com/images/user/20d08b84f4.jpg",
            "https://media4.s-nbcnews.com/i/newscms/2018_35/2549841/180830-aleppo-syria-street-view-nn-se-513p_7ca2587dea3fec4a366252080d0455f7.jpg",
            "https://www.vaticannews.va/content/dam/vaticannews/agenzie/images/afp/2018/11/26/12/syria-conflict-1543231937718.jpg/_jcr_content/renditions/cq5dam.thumbnail.cropped.750.422.jpeg",
            "https://s3.amazonaws.com/s3.timetoast.com/public/uploads/photos/7041633/ofuna-yard.jpg",
            "https://i.pinimg.com/originals/ca/36/60/ca3660204c2af18764c4b33f1a422022.png",
            "https://i.pinimg.com/originals/39/53/4e/39534ec134c62e53ed55c7b282eb4eb0.jpg",
            "https://www.history.navy.mil/bin/imageDownload?image=/content/dam/nhhc/our-collections/photography/images/80-G-213000/80-G-213594&rendition=cq5dam.web.1280.1280.jpeg",
            "https://www.awesomestories.com/images/user/3132f668ae9ca43c6a856bd61d2e4c7a.JPG",
            "https://www.youtube.com/watch?v=fLW9cpWdP9w",
            "https://www.youtube.com/watch?v=mkR4TVKKJQM",
            "https://www.youtube.com/watch?v=2pj-DDL8RcU",
            "https://www.youtube.com/watch?v=2pj-DDL8RcU",
            "https://www.youtube.com/watch?v=BEyqbSK-XIQ",
            "https://www.youtube.com/watch?v=mkR4TVKKJQM",
            "https://www.youtube.com/watch?v=2pj-DDL8RcU",
            "https://www.youtube.com/watch?v=2pj-DDL8RcU",
            "https://youtu.be/O5UkPM0mTh8?t=309",
            "http://laurahillenbrandbooks.com/reviews",
            "http://www.worldcat.org/oclc/893162598",
            "http://worldcat.org/oclc/1002395405",
            "http://school.eb.com/levels/high/article/World-War-II/110199",
            "https://www.churchtimes.co.uk/articles/2016/1-april/news/world/aleppo-congregation-celebrates-easter",
            "https://www.bbc.com/news/world-middle-east-27866021",
            "https://observer.com/2016/09/obamas-covert-intervention-wreaks-devastation-on-syria/",
            "https://www.nytimes.com/2017/08/02/world/middleeast/cia-syria-rebel-arm-train-trump.html",
            "https://www.telegraph.co.uk/news/worldnews/middleeast/syria/11203825/Syrian-rebels-armed-and-trained-by-US-surrender-to-al-Qaeda.html",
            "https://www.reuters.com/article/us-iraq-crisis-congress-vote/u-s-congress-approves-arming-syrian-rebels-funding-government-idUSKBN0HD2P820140919",
            "https://www.latimes.com/entertainment/movies/la-et-mn-unbroken-path-to-redemption-review-20180912-story.html",
            "http://imdb.com/title/tt1809398",
            "https://www.dailybreeze.com/2014/07/03/louis-zamperini-war-hero-olympic-distance-runner-2015-rose-parade-grand-marshal-has-died/",
            "http://news.usc.edu/1836/the-great-zamperini",
            "http://billygraham.org/story/billy-grahams-grandson-on-louis-zamperini-he -was-broken-before-he-met-Jesus",
            "http://billygraham.org/story/louis-zamperini-billy-graham-and-a-life-changing-decision-the-rest-of-the-unbroken-story",
            "https://www.deseretnews.com/article/900010970/how-the-rev-billy-graham-influenced-the-remarkable-life-of-louis-zamperini-the-real-life-inspiration-for-unbroken.html",
            "http://www1.cbn.com/unbrokens-louis-zamperini-rest-story",
            "https://www.theatlantic.com/politics/archive/2014/11/world-war-ii-isnt-over-talking-to-unbroken-veteran-louis-zamperini/382616/",
            "https://www.theguardian.com/sport/2014/jul/04/louis-zamperini",
            "https://www.thefamouspeople.com/profiles/louis-zamperini-6935.php",
            "http://blog.aarp.org/2014/07/03/louis-zamperini-olympic-runner-pow-was-twice-a-hero",
            "https://digital.la84.org/digital/api/collection/p17103coll11/id/417/page/0/inline/p17103coll11_417_0",
            "http://unwritten-record.blogs.archives.gov/2014/12/24/louis-zamperini-the-story-of-a-true-american-hero",
            "http://www.history.com/news/8-things-you-may-not-know-about-louis-zamperini",
            "http://www.mickmel.com/timeline-louis-zamperinis-journey",
            "http://www.ontheshortwaves.com/POW/Unbroken_Louie_Zamperini.pdf",
            "http://www.biography.com/people/louis-zamperini",
            "http://reasonabletheology.org/the-rest-of-the-story-louis-zamperini-after-unbroken",
            "http://www.donlash.com/bio",
            "https://www.washingtonpost.com/national/louis-zamperini-onetime-olympic-runner-who-survived-wwii-ordeals-dies-at-97/2014/07/03/954b8d30-02c9-11e4-8fd0-3a663dfa68ac_story.html?noredirect=on",
            "http://www.garycohenrunning.com/Interviews/Zamperini.aspx",
            "https://www.deseretnews.com/article/900010970/how-the-rev-billy-graham-influenced-the-remarkable-life-of-louis-zamperini-the-real-life-insperation-for-unbroken.html",
            "https://www.washingtonpost.com/national/louis-zamperini-onetime-olympic-runner-who-survived-wwii-ordeals-dies-at-97/2014/07/03/954b8d30-02c9-11e4-8fd0-3a663dfa68ac_story.html?utm_term=.259736e122d2",
            "http://thetorrancetornado.com",
            "https://www.medicalbag.com/grey-mattes/louis-zamperini-10-incredible-facts-about-the-unbroken-hero/article/472878/",
            "https://www.torranceca.gov/our-city/general-services/airpor/louis-zamperini",
            "https://world.Wng.org/2014/07/louis_zamperini_gains_his_final_freedom",
            "https://olympics.nbcsports.com/tag/louis-zamperini/",
            "http://www.americainwwii.com/articles/lucky-louie/",
            "https://www.wsj.com/articles/SB111265072445397621",
            "https://bringbackthemile.com/news/detail/8_things_you_may_not_know_about_louis_zamperini",
            "https://news.usc.edu/64871/louis-zamperini-world-war-ii-hero-and-longtime-trojan-97/",
            "https://www.history.com/news/8-things-you-may-not-know-about-louis-zamperini",
            "https://www.telegraph.co.uk/news/obituaries/10942801/Louis-Zamperini-obituary.html",
            "https://www.theguardian.com/sport/2014/jul/04/louis-zamperini",
            "https://www.newspapers.com/clip/707349/louis_zamperini_story/",
            "https://www.nytimes.com/2014/07/04/arts/louis-zamperini-olympian-war-survivor-unbroken-dies.html",
            "https://www.biography.com/people/louis-zamperini",
            "https://www.thefamouspeople.com/profiles/louis-zamperini-6935.php",
          ],
          books:[
            "Hillenbrand, Laura. Unbroken: An Olympian’s Journey from Airman to Castaway to Captive. New York: Delacorte Press, 2014. Print",
            "Hillenbrand, Laura. Unbroken. New York: Random House, 2010. Print."
          ]
      }
  }),
  beforeMount(){

  }
}
</script>

<style lang="scss" scoped>
.header-placeholder{
    height:64px;
    background:#3fba84;
    position:fixed;
    width:100vw;
    top:0;
    left:0;
    @media(max-width:600px){
        height:56px;
    }
}
.works-cited-entries {
    overflow-wrap: break-word;
    .works-cited-entry p{
        padding-left: 1.5em;
        text-indent:-1.5em;
    }
    p.works-cited-entry{
        padding-left: 1.5em;
        text-indent:-1.5em;
    }
}
.scrolled-false #app-appbar *{
    text-shadow:none;
}
</style>
