<template>
    <div class="article">
        <div id="article-header" :style="`background-image:url(${header.img})`" v-if="header">
            <img :src="header.img" style="visibility:hidden;width:100%;max-height:120vh;"/>
            <div id="article-header-text">{{header.text}}</div>
        </div>
        <div id="article-text"><slot></slot></div>
    </div>
</template>

<script>
export default {
  name:'article-template',
  props:["header"]
}
</script>

<style lang="scss">
.article{
  #article-header{
    height:auto;
    min-height:500px;
    max-height:120vh;
    background-size: cover;
    background-position: top center;
    display: grid;
    //causes zoom problem
    background-attachment: fixed;
    position: relative;
    font-family:monospace;
    @supports (-webkit-overflow-scrolling: touch) {
      background-attachment: initial;
    }
  }
  #article-header-text{
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    transform: translate(-50%, -50%);
    margin:auto;
    text-transform: uppercase;
    color:white;
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 7em;
    letter-spacing: calc(100vw / 50);
    text-align:center;
    @media (max-width:1646px){
      font-size: 4em;
    }
    @media (max-width:1253px){
      font-size: 3em;
    }
    @media (max-width:800px){
      font-size: 2.5em;
    }
    @media (max-width:600px){
      font-size:2em;
    }
    @media (max-width:500px){
      font-size:2em;
    }
    @media (max-width:400px){
      font-size:2em;
    }
    @media (max-width:300px){
      font-size:2em;
    }
  }
  #article-text{
    margin:10px;
    font-size:16px;
  }
  .right-align{
    float: right;
    @media(max-width:700px){
      float:unset;
      max-width:100vw;
    }
  }
  .left-align{
    float: left;
    @media(max-width:700px){
      float:unset;
      max-width:100vw;
    }
  }
  .my-maps-wrapper{
    width:100%;
    border-radius:5px;
    height:554px;
    overflow:hidden;
    &.align-left,&.align-right{
        width:fit-content;
    }
    .my-maps{
        position: relative;
        bottom: 46px;
    }
  }
}
</style>
