<template>
    <div :class="`wrap-img-wrapper ${left === '' ? 'left-align':''} ${right === '' ? 'right-align':''} ${center === '' ? 'center-align':''} ${left === undefined && right === undefined && center === undefined ? 'right-align':''}`" @click="openFullscreen = true">
        <img :src="img" class="wrap-img">
        <span class="wrap-img-caption">{{caption}}</span>
        <mu-dialog width="360" transition="slide-bottom" fullscreen :open.sync="openFullscreen" class="img-fullscreen">
            <mu-appbar color="primary" title="Image Viewer">
            <mu-button slot="left" icon @click="openFullscreen = false">
                <mu-icon value="close"></mu-icon>
            </mu-button>
            </mu-appbar>
            <div style="padding: 24px;" class="img-fullscreen-content" v-on-clickaway="closeFullScreen">
                <img :src="img" class="wrap-img">
                <span class="wrap-img-caption">{{caption}}</span>
            </div>
        </mu-dialog>
    </div>
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway';

export default {
  name:'image-wrap',
  mixins: [ clickaway ],
  props:["img","caption","left","right","center"],
  data:()=>({
      openFullscreen:false
  }),
  methods:{
      closeFullScreen(){
          this.openFullscreen = false
      }
  }
}
</script>

<style lang="scss">
  .right-align{
    float: right;
    @media(max-width:700px){
      float:unset;
      max-width:100vw;
    }
  }
  .left-align{
    float: left;
    @media(max-width:700px){
      float:unset;
      max-width:100vw;
    }
  }
  .center-align{
    float:unset;
    max-width:calc(100% - 30px);
    width:100%;
  }
  .wrap-img-wrapper {
    display:grid;
    margin: 15px;

    @media(max-width:700px){
      float:unset;
      max-width:100vw;
    }
    *{
      display:block;
      margin:auto;
      text-align:center;
    }
    .wrap-img-caption{
      font-style: italic;
      width:100%;
    }
    .wrap-img{
      max-height:450px;
      border-radius:5px;
      @media(max-width:700px){
      }
      @media(max-width:600px){
        width:100%;
        max-height:unset;
        height:auto;
      }
    }
  }
  .img-fullscreen{
        .wrap-img{
            max-height:calc(100vh - 120px);
            border-radius:5px;
            max-width:calc(100vh - 200px);
            width:auto;
        }
        .img-fullscreen-content{
            display:grid;
            margin:auto;
        }
        .mu-dialog-body{
            display:grid;
            width:100%;
            height:calc(100vh - 64px);
        }
        .mu-dialog{
            background: #000000ad;
        }
        .wrap-img-caption {
            color: white;
            text-align: center;
        }
    }
</style>
