<template>
    <div id="timeline" style="width: 100%; height: 600px"></div>
</template>

<script>
import "../../public/timeline3/css/timeline.css";
export default {
  name:'timeline',
  props:["sheetUrl"],
  data:()=>({
    timeline:null
  }),
  async beforeMount(){
    await this.$loadScript("timeline3/js/timeline.js");
    this.timeline = new TL.Timeline('timeline',this.sheetUrl);
  },
  methods:{

  }
}
</script>

<style lang="scss">
[class^=tl-icon-], [class*=" tl-icon-"] {
    font-family: "Material Icons Outline";
}

.tl-icon-goback:after {
    content: "settings_backup_restore";
}

.tl-icon-zoom-in:after {
    content: "zoom_in_outline";
}

.tl-icon-zoom-out:after {
    content: "zoom_out_outline";
}

span.tl-icon-zoom-out {
    font-size: 20px;
}

span.tl-icon-zoom-in {
    font-size: 20px;
}

.tl-icon-googlemaps:after {
    content: "location_on";
}

.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class^=tl-icon-], .tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class*=" tl-icon-"] {
    font-size: 12px;
}

.tl-icon-image:after {
    content: "image";
}

.tl-timemarker-content-container.tl-timemarker-content-container-small {
    border: 0;
    box-shadow: none;
}

.tl-media-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.tl-slidenav-next .tl-slidenav-icon, .tl-slidenav-previous .tl-slidenav-icon {
    font-family: "Material Icons Outline";
}

.tl-slidenav-next .tl-slidenav-icon:before {
    content: "keyboard_arrow_right";
}

.tl-slidenav-icon {
    font-size: 41px!important;
}

.tl-slidenav-previous .tl-slidenav-icon:before {
    content: "keyboard_arrow_left";
}
</style>
