<template>
    <video-player class="video vjs-big-play-centered" :options="{fluid: true,sources:[{type: sourceType,src:source}]}" @ready="playerIsReady"></video-player>
</template>

<script>
export default {
  name:'video-js-player',
  props:['source','sourceType'],
  components:{

  },
  methods:{
      playerIsReady(player) {
        console.log('Player ready!', player)
        // This is where plugin is intitialized with options (make sure to import it above)
        player.hotkeys({
          volumeStep: 0.1,
          seekStep: 5,
          enableModifiersForNumbers: false,
          enableHoverScroll:true,
          fullscreenKey: function(event, player) {
            // override fullscreen to trigger when pressing the F key or Ctrl+Enter
            return ((event.which === 70) || (event.ctrlKey && event.which === 13));
          }
        })
      }
  }
}
</script>

<style lang="scss">
.video{
    border-radius: 5px;
    overflow:hidden;
    margin-top:20px;
    width: 100%;

    button.vjs-big-play-button {
        width: 1.5em!important;
        margin-left: 0!important;
        border-radius: 100%!important;
        border: 0!important;
    }
    .vjs-paused{
        button.vjs-big-play-button{
            display:inline-block!important;
        }
    }
    *{
        outline:0;
    }
  }
</style>
