<template>
    <article-template :header="{ 'text':'Captivity and Torture by Japanese Army', 'img':'https://www.awesomestories.com/images/user/d465e2d7704fc5fbad02e0deaab15230.jpg' }">
        <p>
        &emsp;At first, after he was captured, the Japanese pretended to treat him well.  He was taken to an infirmary and was given food and told his story to the officers.  But afterward, he and Phil were sent to a camp called Kwajalein, where he was locked in a cell with dirt floors and bugs.  It was nicknamed “Execution Island”, and one of the guards said that the last prisoners were decapitated and that they would be killed too.  All Zamperini got were rice balls and small cups of tea.  The guards threw rocks and cigarettes at him and made him dance and laughed at him.
        </p>

        <p>
        &emsp;When submarines passed by, the crews would line up to abuse the prisoners.  He started to lose his self-respect and will to live.  Then, he was interrogated about the secret plane equipment, but he didn’t give them any information.  Later, he became friends with a Christian guard named Kawamura, who stood up for Zamperini by beating up a guard that attacked Zamperini.  Also at Kwajalein, he and Phil were experimented on by injecting them for times, which made them lightheaded, have rashes, and itch.  Later, he was interrogated again and gave fake base locations.
        </p>

        <p>
        &emsp;They were both not killed, and on August 26, 1943, Zamperini was sent to Ofuna interrogation camp after forty-two days at Kwajalein.  Zamperini thought that Ofuna would be a POW camp protected by the Geneva Conventions, but it was not.  There were rules for everything, such as not being able to speak to anyone except the guards and always having to look down.  The guards were allowed to do anything they wanted to the captives, including beating them.  The guards hated the captives because, in the Japanese Army, the soldiers should always die instead of being captured, and because they were taught to be racist towards them.
        </p>

        <p>
        &emsp;All of the prisoners were very thin, and they got diseases and parasites from the food.  Zamperini was one of the thinnest.  However, the captives tried to get around the rules.  They would communicate with morse code, and they would talk by crowding around the guards and pretending that they were asking questions.  After being at the camp for a while amount of time, he was allowed to talk to other people.  They would learn about the news of the war by asking new people and stealing newspapers.
        </p>

        <p>
        &emsp;At Ofuna, he became friends with Lt. William Harris and Frank Tinker.  Together, they made a plan to escape, however they canceled it after they learned that all people that escape will be killed.  Later, Zamperini stole a war map from a guard called “the Quack.”  Harris drew the map and then it was put back.  But, “the Quack” found out and attacked Harris with a crutch, and even continued hitting Harris after he was unconscious.  The attack left Harris with brain damage.
        </p>

        <p>
        &emsp;On September 31, 1944, Zamperini was transferred to Omori POW camp, which he hoped would be better, but it was much worse.  At Omori, there was the most brutal guard that he ever had, Corporal (later Sergeant) Mutsuhiro Watanabe, who was called “the Bird.”<image-wrap img="https://reasonabletheology.org/wp-content/uploads/Mutsuhiro_Watanabe.jpg" caption="Mutsuhiro Watanabe" right></image-wrap>  As soon as he came to Omori, “the Bird” was already after him.  Just because Zamperini didn’t look at “the Bird's” face when saying Zamperini’s own name he hit him.  “The Bird” was always angry because he came from a family of good soldiers, but he was not a good soldier.  He specifically hated Zamperini because he was famous and didn't follow orders, and called him his “number one prisoner.”  “The Bird” was known for his use of psychological torture.  As an example, he burned people’s family photos in front of them, and he made someone salute a flagpole during a whole night. Also, all of the captives were registered for the Red Cross except Zamperini.  Even so, all of the Red Cross packages were stolen by the Japanese.
        </p>

        <p>
        &emsp;To keep up their spirits, the prisoners tried to sabotage the Japanese by switching mail addresses for goods, sinking barges, breaking train tracks, and stealing items such as sugar.  Captives with lots of sugar gave to people that were starving, which helped more people stay alive.  On November 1, 1944, the first B-29 flew over Tokyo from Saipan and sirens rang, which made the prisoners hopeful.  After the plane flew over, “the Bird” was very angry and hit Zamperini on the head with a belt buckle, which made his head bleed, and hit him again after pretending to be kind.
        </p>

        <p>
        &emsp;On October 18,1944, Radio Tokyo let him send a message to the U.S. that he was alive on a Japanese propaganda show called Postman Calls.  His family finally knew that he was alive after a year because of the message.  Then, Radio Tokyo tried to take advantage of him by telling him to send a propaganda message to the U.S., which he refused to.  Then, he realized that why he was not killed was because he could be used for propaganda because he was famous.
        </p>

        <p>
        &emsp;On November 24, 1944, 111 B-29s flew over Omori and Tokyo.  “The Bird” became mad that the Americans were winning and would hurt more people and once ran around with a sword when there was a bombing.  Also, “the Bird” would attack Zamperini every day until he was bleeding, which gave him dreams of “the BIrd” attacking him and then him choking “the Bird.”
        </p>

        <p>
        &emsp;Finally, “the Bird” was moved to another camp when he was promoted sergeant and the new Japanese captors let them send letters and get Red Cross packages.  On February 16, 1945, Tokyo was attacked again, with many planes for days.  On the seventh day, 229 B-29s firebombed Tokyo, which set the city on fire and destroyed many buildings.
        </p>

        <p>
        <image-wrap img="https://9044c4.medialib.edu.glogster.com/A2twx8FoIdkT2j7GWYM3/media/11/11c9f93b395541565e9d1574c6c529b00b58c6d4/map-all.jpg" caption="Map of the camps Zamperini was captive at" left></image-wrap>
        &emsp;On February 28, 1945, Zamperini was moved to another camp called Naoetsu which was cold and snowy, and unfortunately, “the Bird” was there again.  At first, Zamperini was not given work because he was an officer, but later he had to carry fertilizer and got a full ration because of that.  But, a guard that went with them made a joke to “the Bird” that the officers were lazy, and “the Bird” made the officers carry coal.  Later, Zamperini was changed to carrying salt, and a guard purposely knocked over Zamperini, which prevented him from walking, so he had to stay at the camp with half a ration.  When he asked for a full ration, “the Bird” made him clean a pig sty with his bare hands.
        </p>

        <p>
        &emsp;When Zamperini was able to walk again, there was a report that prisoners had stolen fish, and he and five other officers were chosen by “the Bird” for punishment.  “The Bird” forced the other captives to punch the officers, and they were punched about 220 times.  In the end, their faces were swollen.  As more people came to the camp, the rations got less, and there was a plan for all captives to be killed on August 22, 1945.
        </p>

        <p>
        &emsp;Later, “the Bird” made Zamperini hold a beam, and after 37 minutes of holding the beam, “the Bird” got mad and punched him, which made the beam fall on Zamperini’s head and knock him out.  Later, the officers made a plan to kill “the Bird” by attaching him to a rock and dropping from the top of the barracks into the river.
        </p>

        <p>
        &emsp;On August 6, 1945, an atomic bomb was dropped on Hiroshima, and the captives learned about it soon after.  Then, the second one was dropped on Nagasaki on August 9.  On August 11, “the Bird” left to prepare the killing camp for August 22.  When a guard said that the war was over, no one believed him.  But, once they were not given work, then they were sure that the was over.  By this time, Zamperini was very thin and sick.

        </p>
        <timeline sheetUrl="https://docs.google.com/spreadsheets/d/13Gc0a4mypJadqUkqNiFGoHdHPM588FeEZ5lf0ZvLazw/edit#gid=0"></timeline>
    </article-template>
</template>

<script>
import ArticleTemplate from "@/components/ArticleTemplate";
import ImageWrap from "@/components/ImageWrap";
import Timeline from "@/components/Timeline";
export default {
  name:'captivity-and-torture-by-japanese-army',
  components:{
      ArticleTemplate,
      ImageWrap,
      Timeline
  }
}
</script>
