<template>
    <article-template :header="{ 'text':'Captivity at Kwajalein', 'img':'https://www.awesomestories.com/images/user/d465e2d7704fc5fbad02e0deaab15230.jpg' }">
        <p>
        &emsp;At first, after he was captured, the Japanese pretended to treat him well.  He was taken to an infirmary and was given food and told his story to the officers.  But afterward, he and Phil were sent to a camp called Kwajalein, where he was locked in a cell with dirt floors and bugs.<image-wrap img="https://www.history.navy.mil/bin/imageDownload?image=/content/dam/nhhc/our-collections/photography/images/80-G-213000/80-G-213594&rendition=cq5dam.web.1280.1280.jpeg" caption="Kwajalein in January 1944"></image-wrap>  It was nicknamed “Execution Island”, and one of the guards said that the last prisoners were decapitated and that they would be killed too.  All Zamperini got were rice balls and small cups of tea.  The guards threw rocks and cigarettes at him and made him dance and laughed at him.
        </p>

        <p>
        &emsp;When submarines passed by, the crews would line up to abuse the prisoners.  He started to lose his self-respect and will to live.  Then, he was interrogated about the secret plane equipment, but he didn’t give them any information.  Later, he became friends with a Christian guard named Kawamura, who stood up for Zamperini by beating up a guard that attacked Zamperini.  Also at Kwajalein, he and Phil were experimented on by injecting them with an unknown substance, which made them lightheaded, have rashes, and itch.  Later, he was interrogated again and gave fake base locations.  Both Zamperini and Phillips survived.
        </p>
        <div class="my-maps-wrapper">
            <embed class="my-maps" width="100%" height="600" src="https://www.google.com/maps/d/u/0/embed?mid=1TyyPM7qXVDmKhAG5kAhLbfP80gTDTUJ2"></embed>
        </div>
    </article-template>
</template>

<script>
import ArticleTemplate from "@/components/ArticleTemplate";
import ImageWrap from "@/components/ImageWrap";
import Timeline from "@/components/Timeline";
export default {
  name:'captivity-at-kwajalein',
  components:{
      ArticleTemplate,
      ImageWrap,
      Timeline
  }
}
</script>
