<template>
    <article-template :header="{ 'text':'Captivity at Naoetsu', 'img':'https://s3-ap-southeast-2.amazonaws.com/awm-media/collection/126515/screen/4163574.JPG' }">
        <p>
        <image-wrap img="https://9044c4.medialib.edu.glogster.com/A2twx8FoIdkT2j7GWYM3/media/11/11c9f93b395541565e9d1574c6c529b00b58c6d4/map-all.jpg" caption="Map of the camps Zamperini was captive at" left></image-wrap>
        &emsp;On February 28, 1945, Zamperini was moved to another camp called Naoetsu which was cold and snowy, and unfortunately, “the Bird” was there again.  At first, Zamperini was not given work because he was an officer, but later he had to carry fertilizer and got a full ration because of that.  But, a guard that went with them made a joke to “the Bird” that the officers were lazy, and “the Bird” made the officers carry coal.  Later, Zamperini was changed to carrying salt, and a guard purposely knocked over Zamperini, which prevented him from walking, so he had to stay at the camp with half a ration.  When he asked for a full ration, “the Bird” made him clean a pig sty with his bare hands.
        </p>

        <p>
        &emsp;When Zamperini was able to walk again, there was a report that prisoners had stolen fish, and he and five other officers were chosen by “the Bird” for punishment.  “The Bird” forced the other captives to punch the officers, and they were punched about 220 times.  In the end, their faces were swollen.  As more people came to the camp, the rations got less, and there was a plan for all captives to be killed on August 22, 1945.
        </p>

        <p>
        &emsp;Later, “the Bird” made Zamperini hold a beam, and after 37 minutes of holding the beam, “the Bird” got mad and punched him, which made the beam fall on Zamperini’s head and knock him out.  Later, the officers made a plan to kill “the Bird” by attaching him to a rock and dropping from the top of the barracks into the river.
        </p>

        <p>
        &emsp;On August 6, 1945, an atomic bomb was dropped on Hiroshima, and the captives learned about it soon after.  Then, the second one was dropped on Nagasaki on August 9.  On August 11, “the Bird” left to prepare the killing camp for August 22.  When a guard said that the war was over, no one believed him.  But, once they were not given work, then they were sure that the was over.  By this time, Zamperini was very thin and sick.

        </p>
        <timeline sheetUrl="https://docs.google.com/spreadsheets/d/13Gc0a4mypJadqUkqNiFGoHdHPM588FeEZ5lf0ZvLazw/edit#gid=0"></timeline>
    </article-template>
</template>

<script>
import ArticleTemplate from "@/components/ArticleTemplate";
import ImageWrap from "@/components/ImageWrap";
import Timeline from "@/components/Timeline";
export default {
  name:'captivity-and-torture-by-japanese-army',
  components:{
      ArticleTemplate,
      ImageWrap,
      Timeline
  }
}
</script>
