<template>
    <article-template :header="{ 'text':'Captivity at Omori', 'img':'https://i.pinimg.com/originals/ca/36/60/ca3660204c2af18764c4b33f1a422022.png' }">
        <p>
        &emsp;On September 31, 1944, Zamperini was transferred to Omori POW camp, which he hoped would be better, but it was much worse.  At Omori, there was the most brutal guard that he ever had, Corporal (later Sergeant) Mutsuhiro Watanabe, who was called “the Bird.”<image-wrap img="https://reasonabletheology.org/wp-content/uploads/Mutsuhiro_Watanabe.jpg" caption="Mutsuhiro Watanabe" right></image-wrap>  As soon as he came to Omori, “the Bird” was already after him.  Just because Zamperini didn’t look at “the Bird's” face when saying Zamperini’s own name he hit him.  “The Bird” was always angry because he came from a family of good soldiers, but he was not a good soldier.  He specifically hated Zamperini because he was famous and didn't follow orders, and called him his “number one prisoner.”  “The Bird” was known for his use of psychological torture.  As an example, he burned people’s family photos in front of them, and he made someone salute a flagpole during a whole night. Also, all of the captives were registered for the Red Cross except Zamperini.  Even so, all of the Red Cross packages were stolen by the Japanese.
        </p>

        <p>
        &emsp;To keep up their spirits, the prisoners tried to sabotage the Japanese by switching mail addresses for goods, sinking barges, breaking train tracks, and stealing items such as sugar.  Captives with lots of sugar gave to people that were starving, which helped more people stay alive.  On November 1, 1944, the first B-29 flew over Tokyo from Saipan and sirens rang, which made the prisoners hopeful.  After the plane flew over, “the Bird” was very angry and hit Zamperini on the head with a belt buckle, which made his head bleed, and hit him again after pretending to be kind.
        </p>

        <p>
        &emsp;On October 18,1944, Radio Tokyo let him send a message to the U.S. that he was alive on a Japanese propaganda show called Postman Calls.  His family finally knew that he was alive after a year because of the message.  Then, Radio Tokyo tried to take advantage of him by telling him to send a propaganda message to the U.S., which he refused to.  Then, he realized that why he was not killed was because he could be used for propaganda because he was famous.
        </p>

        <p>
        &emsp;“The Bird” became angry when American B-29s flew over because it meant that the Americans were winning, and took out his anger by randomly attacking captives.  Once, he even ran around with a sword.  Also, “the Bird” would attack Zamperini every day until Zamperini was bleeding, which gave Zamperini dreams of himself chocking “the Bird” after being attacked by him.
        </p>

        <p>
        &emsp;Finally, “the Bird” was moved to another camp when he was promoted sergeant and the new Japanese captors let them send letters and get Red Cross packages.  On February 16, 1945, Tokyo was attacked again, with many planes for days.  On the seventh day, 229 B-29s firebombed Tokyo, which set the city on fire and destroyed many buildings.
        </p>
        <div class="my-maps-wrapper">
            <embed class="my-maps" width="100%" height="600" src="https://www.google.com/maps/d/u/0/embed?mid=1zBDSbbBM0nD7ImsPasXFiiWPKKB1Bgio"></embed>
        </div>
    </article-template>
</template>

<script>
import ArticleTemplate from "@/components/ArticleTemplate";
import ImageWrap from "@/components/ImageWrap";
import Timeline from "@/components/Timeline";
export default {
  name:'captivity-at-omori',
  components:{
      ArticleTemplate,
      ImageWrap,
      Timeline
  }
}
</script>
