<template>
    <article-template :header="{ 'text':'Captivity at Ofuna', 'img':'https://s3.amazonaws.com/s3.timetoast.com/public/uploads/photos/7041633/ofuna-yard.jpg' }">
        <p>
        &emsp;On August 26, 1943, Zamperini was sent to Ofuna interrogation camp after forty-two days at Kwajalein.<image-wrap img="https://i.pinimg.com/originals/39/53/4e/39534ec134c62e53ed55c7b282eb4eb0.jpg" caption="Aerial picture of Ofuna" right></image-wrap>  Zamperini thought that Ofuna would be a POW camp protected by the Geneva Conventions, but it was not.  There were rules for everything, such as not being able to speak to anyone except the guards and always having to look down.  The guards were allowed to do anything they wanted to the captives, including beating them.  The guards hated the captives because, in the Japanese Army, the soldiers should always die instead of being captured, and because they were taught to be racist towards them.
        </p>

        <p>
        &emsp;All of the prisoners were very thin, and they got diseases and parasites from the food.  Zamperini was one of the thinnest.  However, the captives tried to get around the rules.  They would communicate with morse code, and they would talk by crowding around the guards and pretending that they were asking questions.  After being at the camp for a while amount of time, he was allowed to talk to other people.  They would learn about the news of the war by asking new people and stealing newspapers.
        </p>

        <p>
        &emsp;At Ofuna, he became friends with Lt. William Harris and Frank Tinker.  Together, they made a plan to escape, however they canceled it after they learned that all people that escape will be killed.  Later, Zamperini stole a war map from a guard called “the Quack.”  Harris drew the map and then it was put back.  But, “the Quack” found out and attacked Harris with a crutch, and even continued hitting Harris after he was unconscious.  The attack left Harris with brain damage.
        </p>
        <div class="my-maps-wrapper">
            <embed class="my-maps" width="100%" height="600" src="https://www.google.com/maps/d/embed?mid=12U9ejmeP4L_P2rzTzTiWXFN8pMH4CtgE"></embed>
        </div>
    </article-template>
</template>

<script>
import ArticleTemplate from "@/components/ArticleTemplate";
import ImageWrap from "@/components/ImageWrap";
import Timeline from "@/components/Timeline";
export default {
  name:'captivity-at-ofuna',
  components:{
      ArticleTemplate,
      ImageWrap,
      Timeline
  }
}
</script>
