<template>
    <article-template :header="{ 'text':'Liberation from Camp', 'img':'https://img.haikudeck.com/mi/BDFD23EC-4EC9-463F-8128-80FF08BE8732.jpg' }">
      <p>
        <image-wrap img="https://www.awesomestories.com/images/user/20d08b84f4.jpg" caption="Drawing of Naoetsu POW Camp, the last camp where Zamperini stayed"></image-wrap>
        &emsp;On August 20, 1945, the Japanese confirmed that the war was over, and let the prisoners bathe in the river.  Then, an American plane flew over which confirmed to them the war was over and gave them a bar of chocolate, which was splitted into 700 pieces for every person to get one.  Then, another plane came which dropped candy bars, cigarettes, and magazines showing the atomic bomb.  On August 26, American fighter planes flew over, and the POWs wrote “food” and “smokes” on the ground.  However, the planes didn’t have anything and instead did an airshow, which convinced the Japanese to bring food trucks.  On August 28, 1945, 6 B-29s flew over and gave plenty of food.  They got a message that they were going to be liberated on September 4, 1945, but they were not.
      </p>
      <p>
        &emsp;So, Commander Fitzgerald, who was captive at Naoetsu, went to the train station and told an employee to bring a train for them the next day.  When the person refused, Fitzgerald punched him, and the train came the next day.  While they were on the train, they saw how so much of Japan was destroyed.  The train stopped in Yokohama, and Zamperini took multiple flights to get to the U.S., and on the way, he saw that Kwajalein was also destroyed.  Zamperini was taken to Letterman General Hospital in San Francisco.  Pete came to see Louis and Pete had lost weight and became bald while Louis was gone because he was worrying about him.  Once he was released from the hospital, he flew to Long Beach Airport and was reunited with the rest of his family.

      </p>
    </article-template>
</template>

<script>
import ArticleTemplate from "@/components/ArticleTemplate";
import ImageWrap from "@/components/ImageWrap";
export default {
  name:'liberation-from-camp',
  components:{
      ArticleTemplate,
      ImageWrap
  }
}
</script>
