<template>
    <article-template :header="{ 'text':'Plane Crash Into Pacific Ocean', 'img':'https://i3.wp.com/www.b24bestweb.com/images/B24/GREENHORNET-V1.JPG' }">
            <p>
            &emsp;On May 27, 1943, Zamperini went on a mission to find a missing pilot on the “Green Hornet” with another plane, the “Daisy Mae.” B-24s were known to have many problems, such as being hard to control, especially with a broken engine, wings and tails falling off, and mechanical problems.  After the plane that Zamperini was on before, the “Super Man”<image-wrap img="https://www.awesomestories.com/images/user/3132f668ae9ca43c6a856bd61d2e4c7a.JPG" caption="The “Super Man” B-24"></image-wrap>, was unusable from an attack by Japanese Zeros in the Battle of Nauru, he was assigned to the “Green Hornet”, which could barely fly and had parts taken out of it.
            </p>

            <p>
            &emsp;Soon after the mission started, the “Green Hornet” was unable to keep up and the “Daisy Mae” went ahead.  Once the “Green Hornet” reached the searching area, they declined to 800ft to be able to see.  Then, one of the left engines died.  While the engineer was trying to “feather” the engines to keep the plane balanced, he accidentally broke the other left engine.  They prepared to crash by moving to the tail of the plane.  Then, the plane crashed into the ocean about 800 miles away from Hawaii.  Zamperini broke his ribs by slamming into the gun mount during the crash, and also got caught in the wires for the gun.  He managed to escape the wires while he was unconscious and pulled himself out because his ring was caught on the frame of the opening for the gun.  After this, his life vest pulled him up to the surface.  Eight out of the eleven on the “Green Hornet” died, and he, the pilot Russell (Phil) Allen Phillips (whose head was bleeding), and the tail gunner Francis (Mac) McNamara were the only survivors of the crash.

            </p>
    </article-template>
</template>

<script>
import ArticleTemplate from "@/components/ArticleTemplate";
import ImageWrap from "@/components/ImageWrap";
export default {
  name:'plane-crash-into-pacific-ocean',
  components:{
      ArticleTemplate,
      ImageWrap
  }
}
</script>
