<template>
    <article-template :header="{ 'text':'Surviving on Raft', 'img':'https://i2.wp.com/wessels-filmkritik.com/wp-content/uploads/2015/01/2432_fpt3_00162r_crop.jpg?ssl=1' }">
      <p>
        &emsp;After the crash, they found two rafts from the plane, which were about six by two feet, and Zamperini and Mac went in one and Phil went into the other.  They used their shirts to bandage Phil’s head, and Phil gave the command to Zamperini because he was injured.  Since their provisions box was gone, all they had with them was what was in the raft pocket.  The pocket contained chocolate bars, half-pint water bottles, a brass mirror, a flare gun, sea dye, fishing hooks, fishing line, a leak patch kit, air pumps, pliers, and a screwdriver.
      </p>
      <p>
        &emsp;Zamperini made a system for provisioning the food, which was one square of chocolate every morning and night, and two to three sips of water a day.  However, Mac ate all of the chocolate while the others were asleep, so they were left without any other food.  Every day was very hot and the night was very cold.
      </p>
      <p>
        &emsp;Once the “Daisy Mae” landed, a search for them began.  In the first few days, two friendly planes flew over, but neither noticed the flares or the sea dye.  They started to realize that the raft was moving west, which was away from the American planes.  On the fourth day, their water ran out.  Mac became frustrated and thought that they would not survive.  On the seventh day on the raft, they were officially declared missing.  Even so, Zamperini’s mother still believed that Zamperini was still alive.
      </p>
      <p>
        &emsp;When the rain came on the eighth day, they collected it in the air pump cases.  On the ninth or tenth day, an albatross landed on Zamperini’s air pump case hat, however, after killing it, none of them could eat it because of the smell, and they decided to use it as fishing bait.  When they tried to fish, the first two fishing lines got caught by the sharks that were following their boat, but the third one caught a fish finally.
      </p>
      <p>
        &emsp;Zamperini knew he had to keep their brains active to prevent them from losing their minds from Dr. Eugene Roberts at USC.  So, he was constantly asking them questions, they were talking about their lives, and they sang “White Christmas.”  Because they had nothing to eat, they used describing their favorite foods as a substitute.
      </p>
      <p>
        &emsp;By the second week, the yellow of the raft started to get on their skin and they started to get salt sores.  Also, instead of praying to himself, Zamperini started praying out loud.  Around then, another albatross landed on Zamperini, and this one was edible, and they used the scraps for fishing bait.  When they ran out of this bait, they were able to catch pilot fish by tying the fishing hooks to their fingers.  Also, Phil caught a tern which Zamperini ate, but he found that it had lice and he had to wash them off in the ocean.  After a prayer by Zamperini for rain, the rain came after many days without water.
      </p>
      <p>
        &emsp;Later, they made a mistake when they saw a plane and shot a flare, but it was actually a Japanese plane.  The plane started shooting them, and they jumped into the water.  Then, a shark tried to eat Zamperini’s leg but backed off after Zamperini punched its nose.  The plane dropped a depth charge, but it luckily didn’t explode.  Phil’s raft was completely destroyed by the gunfire, so everyone moved to the other raft, which still had bullet holes.  They started a routine of patching the bullet holes in the day and inflating the raft at night.
      </p>
      <p>
        &emsp;They calculated that they were about halfway to the Marshall Islands and the Gilbert Islands.  During this time, Mac wasn’t talking at all because he had lost hope.  Once during the night, a shark tried to eat Zamperini’s head, and he hit it in the nose.  Then, another shark jumped up, and Mac hit it with an oar, which saved Zamperini’s life, and redeemed Mac for eating the chocolate.  Later, Phil and Zamperini were able to catch two sharks and eat their livers, because they knew that that was the only part that was edible.  On about the thirtieth day, a shark hit the bottom of their raft and sent it flying into the air.  On the thirty-third day, Mac died and they buried him at sea.
      </p>
      <p>
        &emsp;The next day, they broke the record for the longest time on a raft.  On the forty-sixth day, they finally could see an island in the distance.  However, they were swept into a typhoon, where there were high waves, rain, and wind, and their raft almost flipped over.  The next day, July 13, 1944, they were captured by a Japanese motorboat at the Wotje Atoll. This ended their forty-seven days on the raft, where they traveled about 2000 miles, and Zamperini lost 80 of the 160 pounds that he weighed before.

      </p>
      <div class="my-maps-wrapper">
        <embed class="my-maps" width="100%" height="600" src="https://www.google.com/maps/d/embed?mid=1pUGnN5uHdWWjMoKnzgDapPdlBIT5r0sM"></embed>
      </div>
    </article-template>
</template>

<script>
import ArticleTemplate from "@/components/ArticleTemplate";
import ImageWrap from "@/components/ImageWrap";
export default {
  name:'surviving-on-raft',
  components:{
      ArticleTemplate,
      ImageWrap
  }
}
</script>
