<template>
  <div id="app" :class="`scrolled-${scrolled}`">
    <mu-appbar style="width: 100%; position:fixed" :color="scrolled ? 'primary' : 'transparent'" :class="`drawer-open-${open} drawer-docked-${docked}`" id="app-appbar" :z-depth="scrolled ? 4 : 0">
      <mu-button icon slot="left" @click="toggleDrawer()">
        <mu-icon value="menu"></mu-icon>
      </mu-button>
      <span id="app-title" @click="$router.push('/')">Louis Zamperini</span>
      <mu-menu cover placement="bottom-end" slot="right" id="app-menu">
          <mu-button icon id="app-menu-button">
            <mu-icon value="more_vert"></mu-icon>
          </mu-button>
          <mu-list slot="content">
            <mu-list-item button>
              <!-- <mu-list-item-title>Something</mu-list-item-title> -->
            </mu-list-item>
          </mu-list>
      </mu-menu>
    </mu-appbar>
    <mu-drawer :open.sync="dataOpen" :docked="docked" id="app-drawer" :z-depth="0" width="300px">
      <mu-list toggle-nested class="outer-list">
        <mu-list-item v-for="category in nav" button nested :open="nestedOpen === category.camelCase" @toggle-nested="nestedOpen = arguments[0] ? category.camelCase : ''" class="outer-list-item" :to="category.url" @click="docked === false && category.items === undefined ? dataOpen = false : false">
          <mu-list-item-action>
            <mu-icon :value="category.icon"></mu-icon>
          </mu-list-item-action>
          <mu-list-item-title>{{category.name}}</mu-list-item-title>
          <mu-list-item-action v-if="category.items !== undefined">
            <!-- <mu-icon class="toggle-icon" size="24" value="keyboard_arrow_down" v-if="nestedOpen !== category.camelCase"></mu-icon>
            <mu-icon class="toggle-icon" size="24" value="keyboard_arrow_up" v-if="nestedOpen === category.camelCase"></mu-icon> -->
            <mu-icon class="toggle-icon" size="24" value="keyboard_arrow_down"></mu-icon>
          </mu-list-item-action>
          <mu-list-item v-for="item in category.items" button slot="nested" :to="item.url" class="inner-list-item" v-if="category.items !==undefined" @click="docked === false && category.items === undefined ? dataOpen = false :false ">
            <mu-list-item-title>{{item.name}}</mu-list-item-title>
          </mu-list-item>
        </mu-list-item>
        <!-- about link -->
      </mu-list>
    </mu-drawer>
    <div id="router-view" :class="'drawer-open-' + open + ' ' + 'drawer-docked-' + docked">
      <transition name="fade" mode="out-in"><router-view/></transition>
    </div>
  </div>
</template>

<script>
import theme from 'muse-ui/lib/theme';

export default {
  name: 'app',
  data(){
    return {
      dataOpen:null,
      dataDocked:null,
      routes: this.$router.options.routes,
      nestedOpen:null,
      scrolled: false,
      nav:[
        {
          name:"Home",
          camelCase:"home",
          icon:"home",
          url:"/"
        },
        {
          name:"Historical Context",
          camelCase:"historicalContext",
          icon:"history",
          items:[
            {
              name:"Early Life",
              url:"/articles/historical-context/early-life"
            },
            {
              name:"Running and 1936 Olympics",
              url:"/articles/historical-context/running-and-1936-olympics"
            },
            {
              name:"WWII",
              url:"/articles/historical-context/wwii"
            },
          ]
        },
        {
          name:"Events",
          camelCase:"events",
          icon:"event_outline",
          items:[
            {
              name:"Plane Crash into Pacific Ocean",
              url:"/articles/events/plane-crash-into-pacific-ocean"
            },
            {
              name:"Surviving on Raft",
              url:"/articles/events/surviving-on-raft"
            },
            {
              name:"Captivity at Kwajalein",
              url:"/articles/events/captivity-at-kwajalein"
            },
            {
              name:"Captivity at Ofuna",
              url:"/articles/events/captivity-at-ofuna"
            },
            {
              name:"Captivity at Omori",
              url:"/articles/events/captivity-at-omori"
            },
            {
              name:"Captivity at Naoetsu",
              url:"/articles/events/captivity-at-naoetsu"
            },
            {
              name:"Liberation from Camp",
              url:"/articles/events/liberation-from-camp"
            }
          ]
        },
        {
          name:"Impact/Legacy/Relation to Today",
          camelCase:"impactLegacyRelationToToday",
          icon:"public",
          items:[
            {
              name:"Forgiving Captors",
              url:"/articles/impact-legacy-relation-to-today/forgiving-captors"
            },
            {
              name:"Books and Movies",
              url:"/articles/impact-legacy-relation-to-today/books-and-movies"
            },
            {
              name:"The War in Syria",
              url:"/articles/impact-legacy-relation-to-today/the-war-in-syria"
            }
          ]
        },
        {
          name:"Works Cited",
          camelCase:"worksCited",
          icon:"library_book",
          url:"/articles/other/works-cited"
        },
        // {
        //   name:"About",
        //   camelCase:"about",
        //   icon:"info",
        //   url:"/about"
        // },
      ]
    }
  },
  beforeMount(){
    theme.add('gray', {
      primary: '#3fba84',
      secondary: '#03dac6',
      success: '#4caf50',
      warning: '#b00020',
    }, 'light');
    theme.use('gray');
  },
  computed:{
    open(){
      if (this.dataOpen === true){
        return true;
      }else if (this.dataOpen === false){
        return false;
      }

      if (this.$mq === 'mobile'){
        this.dataOpen = false;
        return false;
      }else if (this.$mq !== 'mobile'){
        this.dataOpen = true;
        return true;
      }
    },
    docked(){
      if (this.dataDocked === true){
        return true;
      }else if (this.dataDocked === false){
        return false;
      }
      if (this.$mq === 'mobile'){
        this.dataOpen = false;
        return false;
      }else if (this.$mq !== 'mobile'){
        this.dataOpen = true;
        return true;
      }
    }
  },
  methods:{
    toggleDrawer(){
      this.dataOpen = !this.dataOpen;
    },
    handleScroll () {
      this.scrolled = window.scrollY > 0;
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  }
}
</script>

<style lang="scss">
@import '~material-icon-font/dist/Material-Icons.css';

#app {
  overscroll-behavior:none;
}

#app-appbar,#app-drawer{
  font-family:monospace;
}

.material-icons {
  font-family: 'Material Icons Outline'
}

#app-appbar{
  transition: padding-left .45s cubic-bezier(.23,1,.32,1), box-shadow .3s linear, background .3s linear;
}
#app-appbar.drawer-open-true.drawer-docked-true{
  padding-left: 300px;
}
#router-view{
  transition: padding-left .45s cubic-bezier(.23,1,.32,1);
  /*padding-top:56px;*/
  padding-left:0px;
}
/*@media only screen and (min-width: 600px){
  #router-view{
    padding-top:64px;
  }
}*/
#router-view.drawer-open-true.drawer-docked-true{
  padding-left: calc(300px + 0px);
}
#app-drawer{
  border-right: 1px solid rgba(0,0,0,.12);
}
.mu-item-action.is-more {
    padding-top: 13px!important;
}
li.outer-list-item > a.mu-item-wrapper {
    border-radius: 1000px;
    overflow: hidden;
    border: 1px solid#3fba844d;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.mu-list.outer-list > li:first-child {
    margin-top: 5px;
}
li.inner-list-item > a.mu-item-wrapper {
    border-radius: 1000px;
    overflow: hidden;
    border: 1px solid#3fba844d;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;
}
button#app-menu-button {
    margin-top: 8px;
}
#app-title{
  transition:border-bottom 0.1s linear, color 0.1s linear;
  border-bottom:0px solid white;
}
#app-title:hover{
  transition:border-bottom 0.1s linear, color 0.1s linear;
  border-bottom:2px solid white;
  cursor:pointer;
}
#app-title:active{
  color:rgba(255, 255, 255, 0.85);
  border-bottom-color: rgba(255, 255, 255, 0.85);
}
.fade-enter-active,
.fade-leave-active {
  padding-top:0px;
  transition-duration: 0.2s;
  transition-property: opacity,padding-top;
  transition-timing-function: linear;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
  padding-top:7px;
}
.mu-item__open .toggle-icon{
  transform: rotate(180deg);
}
.toggle-icon{
  transition: transform .3s cubic-bezier(.23,1,.32,1);
}
.scrolled-false{
  #app-appbar{
    *{
      text-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
  }
}
header#app-appbar {
    top: 0;
    *{
      transition:all 0.2s linear;
    }
}
</style>
