<template>
  <article-template :header="{ 'text':'Books and Movies', 'img':'https://cdn1.thr.com/sites/default/files/2014/07/unbroken_a.jpg' }">
    <p>
      <image-wrap img="https://images-na.ssl-images-amazon.com/images/I/91UmKFGfyYL.jpg" caption="Unbroken book by Laura Hillenbrand"></image-wrap>
      &emsp;Multiple books and movies were based on Zamperini’s story.  The first is Devil at My Heels: the Story of Louis Zamperini, which was written by Zamperini and Helen Itris in 1956.  In 2003, Zamperini created a book with the same title, Devil at My Heels: A Heroic Olympian's Astonishing Story of Survival as a Japanese POW in World War II, with David Resin.  Then, the most well-known book about him now, Unbroken: A World War II Story of Survival, Resilience, and Redemption, was written in 2010 by Laura Hillenbrand, and became a #1 New York Times bestseller.  On December 25, 2014, the first movie about Zamperini was released and was directed by Angelina Jolie, but did not show his forgiving.  On September 14, 2018, Unbroken: Path to Redemption, which was directed by Harold Cronk, was released, and showed his forgiving of his captors.
    </p>
  </article-template>
</template>

<script>
import ArticleTemplate from "@/components/ArticleTemplate";
import ImageWrap from "@/components/ImageWrap";
export default {
  name:'books-and-movies',
  components:{
    ArticleTemplate,
    ImageWrap
  }
}
</script>
