<template>
    <article-template :header="{ 'text':'Forgiving Captors', 'img':'https://static.billygraham.org/sites/billygraham.org/uploads/pro/2014/12/29142855/zampfeature.jpg' }">
      <p>
        &emsp;When Zamperini returned, he was a war hero.  However, he would always have nightmares of “the Bird” and wanted revenge on “the Bird” by killing him.  He turned to alcohol, and his wife, Cynthia Applewhite,  was going to divorce him.  He overcame these problems by becoming Christian and forgiving his captors.  After his wife went to a Billy Graham sermon, she became Christian and decided not to divorce Zamperini.  She then convinced Zamperini to attend one of the sermons.
      </p>
      <p>
        &emsp;He left during the first sermon, but he finally was convinced on the second sermon to become Christian because he remembered praying in the raft and the camps to serve God when he came back.  After he forgave his captors, he never had nightmares about “the Bird” again and did not want revenge anymore.  Later, he would be friends with Graham.<image-wrap img="https://www.awesomestories.com/images/user/0cfba28ffa.jpg" caption="Zamperini at Sugamo Prison, to forgive his captors"></image-wrap>  In 1952, Zamperini went to Sugamo Prison in Tokyo which held 850 war criminals.  There, he found some of his captors and individually forgave them, and all of them except one became Christian.  In 1998, he came to Japan to carry the flame for the Olympics there, and to forgive “the Bird.”  However, “the Bird” refused to meet him, and Zamperini wrote a letter to him instead.
      </p>

      <!--<youtube video-id="BEyqbSK-XIQ" :player-vars="{start: 32,end:109, iv_load_policy:3,modestbranding:1,rel:0}" style="width:100%"></youtube>
      <youtube video-id="O5UkPM0mTh8" :player-vars="{start: 309, iv_load_policy:3,modestbranding:1,rel:0}" style="width:100%"></youtube>-->
    <video-js-player sourceType="video/mp4" source="videos/forgiving-captors-letter.mp4"></video-js-player>
    <video-js-player sourceType="video/mp4" source="videos/forgiving-captors-graham.mp4"></video-js-player>
    </article-template>
</template>

<script>
import VideoJsPlayer from '@/components/VideoJsPlayer'
import ArticleTemplate from "@/components/ArticleTemplate";
import ImageWrap from "@/components/ImageWrap";
export default {
  name:'forgiving-captors',
  components:{
      ArticleTemplate,
      ImageWrap,
      VideoJsPlayer
  }
}
</script>
