<template>
  <article-template :header="{ 'text':'The War in Syria', 'img':'https://media4.s-nbcnews.com/i/newscms/2018_35/2549841/180830-aleppo-syria-street-view-nn-se-513p_7ca2587dea3fec4a366252080d0455f7.jpg' }">
    <p>
      &emsp;Zamperini’s story of resilience relates to the resilient civilians affected by the present day U.S backed war in Syria.  They have gone through many hardships throughout the war; but, because of their determination and faith, now they are starting to recover and rebuild, just as Zamperini survived on the raft and in capture due to his determination, and recovered from his mental injuries through Christianity.
    </p>
    <p>
      &emsp;The conflict in Syria started in 2011, as well as the U.S. involvement.  The U.S. was arming rebels fighting against the Syrian President Bashar al-Assad and the Syrian government, who are supported by Russia and Iran.<image-wrap img="https://www.vaticannews.va/content/dam/vaticannews/agenzie/images/afp/2018/11/26/12/syria-conflict-1543231937718.jpg/_jcr_content/renditions/cq5dam.thumbnail.cropped.750.422.jpeg" caption="Aleppo, Syria"></image-wrap>  In 2012, the rebels took over eastern Aleppo, and in the summer of that year, the C.I.A. director then, David H. Petraeus made another plan to arm rebels fighting against the Syrian government, which was refused by our president.  However, in 2013, our president accepted a plan for the C.I.A to secretly arm and train rebels for this purpose in bases in Jordan.  In September  2014, the Senate voted 78-22 for an amendment to the spending bill to arm rebels that were supposed to fight against ISIS.  However, at that time, these rebels were fighting against the Syrian government.
    </p>

    <p>
      &emsp;This conflict has had a great impact on the civilians of Syria.  In September 2016 in Aleppo, the largest city in Syria, 2 million of the population didn’t have running water for two years, and the city is sometimes cut off from supplies.  Western Aleppo was controlled by the government, and eastern Aleppo was controlled by rebels, and the front lines were in the Old City in Aleppo, which is a UNESCO world heritage site.  The rebels destroyed churches and wanted to remove the Christians.  An example of the rebuilding is that both Christians and Muslims raised money to build a new Protestant church in Aleppo because the old one was destroyed during the conflict.  The churches in Aleppo give water, food, and medical care to both Christians and Muslims.
    </p>
  </article-template>
</template>

<script>
import ArticleTemplate from "@/components/ArticleTemplate";
import ImageWrap from "@/components/ImageWrap";
export default {
  name:'the-war-in-syria',
  components:{
    ArticleTemplate,
    ImageWrap
  }
}
</script>
